src/assets/icons/
src/statics/h5p/
dist/
node_modules/
CHANGELOG.md
documentation/
coverage/
.idea/
/storybook-static
*.editorconfig
*.gitignore
*.prettierignore
*.stylelintignore
*.gitkeep
*.ttf
*.svg
*.png
*.ico
.DS_Store
.dockerignore
screenshotTestsMatadata.json
