.bonus{
    background-color: #d6f2ff;
}

.bonus__inner{
    padding: 1.125rem 3.25rem 1.1875rem 3.25rem;

    display: flex;

    align-items: center;
    justify-content: space-between;
}

.bonus__title{
    font-size: 1.125rem;
    font-weight: bold;
    color: #2b6281;
    text-align: center;
}

.bonus__logo{
    margin-top: 0.25rem;
}

.bonus__voucher{
    font-size: 1.875rem;
    font-weight: bold;
    color:#2b6281;

    padding: 0.6875rem 4.6875rem 0.6875rem 4.75rem;

    background: #fff;
}

.bonus__sign{
    a{ /* stylelint-disable-line */ 
        font-size: 1.5rem;
        font-weight: 900;

        text-decoration: none;
        text-transform: uppercase;

        color: #fff;

        background-color: #ef689d;

        padding: 0.9375rem 4rem 0.9375rem 4rem;

        transition: background-color .2s linear, color .2s linear;

        &:hover{
            background-color: #fff;
            color: #ef689d;
        }
    }
}