.product__inner{
    padding: 1rem 3.25rem 0 3.25rem;
}

.product__breadcrumbs{
    display: flex;
    align-items: center;

    font-size: 0.875rem;

    color: #9b9b9b;

    span{
        margin-left: 0.3rem;
        margin-right: 0.3rem;
    }

    a{ /* stylelint-disable */
        text-decoration: none;
        color: #9b9b9b;

        &:last-child{
            color: #5e5e5e;
        }

        &:hover{
            text-decoration: underline;
        }
    }
}