.social {
    margin-top: 2.5rem;
}

.social__photos{
    display: flex;

    align-items: center;

    justify-content: space-between;
}

.social__content{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1.25rem 3.25rem 1.25rem 3.25rem;

    background-color: #60c7d3;

    @media @largemobile{
        flex-wrap: wrap;
        justify-content: center;
    }
}

.social__text{
    font-size: 1.875rem;
    font-weight: bold;
    line-height: 1.68;
    color: #fff;

    @media @note{
        font-size: 1.575rem;
        text-align: center;
    }

    @media @smallnote{
        font-size: 1.3rem;
    }
    
    @media @largemobile{
        font-size: 1.8rem;
    }

    a{
        text-decoration: none;
        color: #fff;

        transition: color 0.2s linear;

        &:hover{
            text-decoration: underline;
            color: rgb(100, 95, 95);
        }
    }
}

.social__links{
    display: flex;
    align-items: center;

    @media @largemobile {
        margin-top: 0.5rem;
    }
}

.social__link{
    margin-left: 3.5rem;

    transition: box-shadow .2s linear;

    border-radius: 50%;

    &:first-child{
        margin-left: 0;
    }

    &:hover{
        box-shadow: 0 0 25px fade(#000, 40%);
    }
}
